@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reset les marges et les paddings par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Corps de la page */
body {
    height: 100vh;
    background-color: #3d3b3b;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 60px; /* Hauteur du header */
}

html {
    font-size: 65%;
    scroll-behavior: smooth;
}
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

section.contenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: #0b8297;
}


/* ------------------------------------------------------------STYLE POUR LE HEADER --------------------------------------------------------- */


header {
    position: fixed; /* Fixe le header en haut */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: transparent; /* par défaut transparent */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
    background-size: 200% 200%;
}

header.scrolled {
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

header.scrolled .logo img {
    opacity: 1; /* affiché après scroll */
}

.logo img {
    height: 40px;
    transition: opacity 0.3s ease;
    opacity: 0; /* caché par défaut */
    filter: invert(100%);
}

.navbar .logo a {
     font-size: 1.5rem;
     font-weight: bold;
}


.navbar {
    gap: 1.5rem;
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar a:hover,
.navbar a.active {
    color: #c7c9d3; /*au survol du btn actif */
    transform: scale(1.10); /* grossit au survol du btn actif */
}

.navbar .burger-menu-button {
    color: #ffffff;
    cursor: pointer;
    font-size: 1.5rem;
}

.buttons { 
    display: flex;
    gap: 10px;
}

.action-button {
    background-color: #0b8297;
    color: #000000;
    border: 1px solid #0b8297;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    outline: none;
    font-size: 0.9 rem;
    font-weight: bold;
    cursor: pointer;
}

.action-button:hover {
    color: #ffffff;
    border :1px solid #ffffff;
}

.contact {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.contact:hover {
    background-color: #ffffff;
    color: #000000;
}

/*  ------------------ Animation spécifique pour le lien (links)  actif ---------------- */

.links a.active {
  color: #ffd700;
  text-shadow: 0 0 8px #ffd700;
  pointer-events: none;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from { text-shadow: 0 0 5px #ffd700; }
  to { text-shadow: 0 0 20px #ffd700; }
}

/* -------------------------- BURGER MENU -------------------------------------- */

.burger-menu {
    display: none;
    height: 0;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    overflow: hidden;
    border-radius: 10px;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.burger-menu-button {
    display: none;
}

.burger-menu.open {
    display: block;
    height: auto; /* Rend le contenu visible */
}

.burger-menu li {
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider {
    height: 1px;
    background-color: #fff;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.burger-menu .action-button {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



/* ---------------------------------- RESPONSIVE NAVBAR ---------------------------------------- */


/* Media query pour les écrans plus petits */
@media (max-width: 990px) {
    header {
        background-color: rgba(255, 255, 255, 0.427) !important;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    .navbar .links,
    .navbar .action-button {
        display: none;
    }

    .burger-menu-button { 
        display: block;
    }

    .burger-menu-button i {
        color: black;
    }

    .burger-menu {
        display: block;
    }
    /* Si ton logo est blanc et doit s’adapter */
    .logo img {
        filter: invert(0%);
    }
}

@media (max-width: 768px) {
  nav.active {
    background-color: white;
  }

  nav.active a {
    color: #222;
  }
}


@media (max-width: 576px) {

    .burger-menu {
        left: 2rem;
        width: unset;
    }
}

/*
.container.et_menu_container {
    z-index: 99;
}
@media (max-width: 980px) {
    #logo, .logo_container, #main-header, .container
Specificity: (0,1,0)
 {
        -webkit-transition: none;
        transition: none;
    }
}

.container {
    text-align: left;
    position: relative;
}
.container {
    width: 80%;
    max-width: 1080px;
    margin: auto;
  m

#main-header, #et-top-navigation {
    font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
}

#main-header {
    line-height: 23px;
    font-weight: 500;
    top: 0;
    background-color: #544a4a;
    width: 100%;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    position: relative;
    z-index: 99999;
}

div.profile-container{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1a1b1d;
    padding-bottom: 1.8rem;
}

/* Structure de base 
.entetecontainer {
    display: flex;
    justify-content: space-between;  Sépare le titre et les boutons, positionne le nom à gauche et les boutons à droite
    align-items: center;  Centre verticalement 
    flex-wrap: wrap;  Permet le passage à la ligne si nécessaire 
    gap: 2rem;
} */


/* ------------------------------------------------------------ MAIN --------------------------------------------------------------- */


main {
    padding: 2rem;
    flex: 1 0 auto;
}


/* Bienvenue sur mon portfolio */
h2{
    color: #ffffff;
    padding-bottom: 0rem;
    padding-top: 2rem;
}

p{
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #ffffff;
    line-height: 1.4; /* Pour améliorer la lisibilité à l'intérieur des paragraphes */
}



div.navigation{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
}

nav{
    width: 65%;
    margin: 15px 0;
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 20px;
}

.li {
    list-style: none;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    flex:1 0 10%;
    text-align: center;
    padding: 15px;
    font-weight: 900;
    border: 1px solid white;
    box-sizing: unset;
    background-color:#17970b;
}

li:hover{
    transition: 0.5s;
    transform: scale(1.10); /* grossit au survol du btn actif */
} 

li:hover a{
    transition: 0.5s;
    font-weight: 700;
    color: #c7c9d3;
}

ul a{
    font-weight: 500;
    font-size: 1.8rem;;
    text-decoration: none;
    color: white;
} */



/* ----------------------------------------------------- BANNIERE D INTRODUCTION ---------------------------------------------------- */

.page-banner {
  position: relative;
  width: 100vw;
  height: 400px;
  padding-bottom: 7rem; /* Ajoute assez d’espace sous la bannière */
  padding-top: 7rem;
  background: url('images/ta-carte.jpg') center center / cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible; /* Permet à la vague absolue de dépasser */
  margin-bottom: 7rem;
}


.overlay {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 5rem 2rem;
    color: white;
}

.page-title {
    font-size: 4rem;
    font-weight: bold;
    color: #ff9100;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
    margin-bottom: 1rem;
}

.slogan-box {
    background-color: rgba(255, 255, 255, 0.25);
    padding: 0.5rem 1.2rem;
    margin: 0.5rem auto;
    border-radius: 12px;
    display: inline-block;
    max-width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.slogan-box .slogan {
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0;
}


/* Ligne décorative  */
.banniere-delimitation {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 0;
  z-index: 1;
  pointer-events: none;
}

.banniere-delimitation img {
    width: 100%;
    height: auto;
    display: block;
}


/* ----------------------------------- RESPONSIVE BANNIERE ----------------------------------*/

@media (max-width: 768px) {
  .page-title {
    font-size: 2.5rem;
  }

  .slogan-box .slogan {
    font-size: 1.2rem;
  }

  .localisation {
    font-size: 1rem;
  }
}



/* ----------------------------------------------------- STYLE POUR LE CONTENU COMPETENCES ---------------------------------------------------- */


.boite {
    display: flex;
    flex-direction: column; /* garde les sections les unes sous les autres */
    align-items: center;    /* centre horizontalement */
    justify-content: center; /* centre verticalement si tu veux aussi */
    margin: 0 auto;         /* recentre si la largeur est fixe */
    width: 90%;             /* ou une valeur selon ton design */
    max-width: 1200px;      /* pour éviter que le contenu soit trop large */
    padding: 2rem;
}

section.titre{
    position: sticky;
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    align-items:  center;
}

hr.titre_dessus{
    margin-top: 20px; /* distance entre bar et titre "langage de programmation" */
    align-self: center;
    background-color: white;
    border: none;
    width: 80%;
    height: 2px;
}


.titre h1{
    font-size: 40px; /* titre comme "langage de programmation" */
    font-weight: bold;
    text-align: center;
    padding: 20px 10px;
    color: rgb(255, 255, 255);
}

.container h1{
    font-size: 20px; /* titre comme "HTML: La structure d'une page web" */
    font-weight: bold;
}

.container h2{
    font-size: 20px; /* texte de l'expérience "2mois d'expérience" */
    font-weight: 500;
    font-style: italic;
}

.container p{
    font-size: 18px; /* texte descriptif de la compétence */
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.logos{
    width: 70%;
    overflow: hidden;
    padding: 60px 0 20px 0;
    white-space: nowrap;
    align-self: center;
}


.logos:hover .logos-slide{
    animation-play-state: paused;
}

.logos-slide a{
    text-decoration: none;
}

.logos:hover img{
    filter: grayscale(100%);
}

.logos-slide img:hover{
    filter: none;
}

.logos-slide{
    display: inline-block;
    animation: 25s slide infinite linear;
}

.logos-slide img{
    height: calc(90*0.1vw);
    margin: 0 20px;
}









.container {
    align-self: center;
    width: 80%;
}

.Logiciel{
    display: flex;
    flex-direction: column;
}

div.item{
    display: flex;
    width: 100%;
    gap: 0 5%;
    margin-bottom: 30px;
    padding-top: 15px;
}

.image-list{
    display: flex;
    flex-direction: column;
}

.image-item{
    width: 20%;
    height: 20%;
}

.text-item{
    color: white;
    width: 100%;
}


.text-item p{
    text-align: justify;
}


  
#icons{
    cursor: pointer;
    color: white;
    display: none;
}

.background{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 500;
    display: none;
    transition: 0.5s;
}

@media (max-width: 1200px){
    div.boite, nav{
        width: 80%;
    }
}

@media (max-width: 800px){
    div.boite{
        width: 85%;
    }

    .logos-slide img{
        height: 90px;
    }

    #icons{
        position: relative;
        display: block;
        z-index: 1000;
        width: 30px;
    }

    #icons:before{
        content: "\2630";
        font-size: 30px;
    }

    .active #icons:before{
        content: "\2715";
        font-size: 30px;      
    }

    .background{
        display: block;
        left: -150%;
    }

    nav ul{
        position: fixed;
        display: flex;
        flex-direction: column;
        left: -150%;
        width: 100%;
        z-index: 1000;
        transition: 0.5s;
    }

    li{
        align-self: center;
        width: 45%;
    }

    nav.active ul{
        left: 0;
    }

    nav.active .background{
        left: 0;
    }

    .item{
        display: flex;
        flex-direction: column;
    }

    .image-item{
        align-self: center;
        padding-bottom: 20px;
        height: 100px;
        width: auto;
    }
}

@media (max-width: 500px) {
    div.boite{
        width: 90%;
    }
}




section.bouton {
    position: relative;
    width: 100%;
    height: 85px;
    display: flex;
}

div.box {
    position: relative;
    background-color: #9ad3ee;
    margin-top: 20px;
    width: 120px;
    height: 50px;
    border-radius: 500px;
    transition: 0.15s linear;
    overflow: hidden;
    left: calc(100% - 140px);
}


div.box div.circle {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #efd368;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    z-index: 50;
    left: 5px;
    top: 5px;
    transition: 0.15s linear;
}
